[
  {
    "category": "Content Management",
    "bubble": true,
    "services": [
      {
        "name": "qBittorrent",
        "uri": "/qbt/",
        "description": "Download",
        "icon": "qbittorrent"
      },
      {
        "name": "Radarr",
        "uri": "/radarr/",
        "description": "Movies",
        "icon": "radarr"
      },
      {
        "name": "Sonarr",
        "uri": "/sonarr/",
        "description": "TV Shows",
        "icon": "sonarr"
      }
    ]
  },
  {
    "category": "Administration",
    "bubble": true,
    "services": [
      {
        "name": "Prowlarr",
        "uri": "/prowlarr/",
        "description": "Trackers",
        "icon": "prowlarr"
      },
      {
        "name": "Influxdb2",
        "uri": "http://almachine:18086/",
        "description": "Monitoring",
        "icon": "influxdb"
      }
    ]
  }
]