apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
  namespace: {{ .Values.namespace }}
  labels:
    app: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      name: sonarr
      labels:
        app: sonarr
    spec:
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsUser: 1000
      containers:
        - name: sonarr
          image: {{ .Values.sonarr.image }}
          startupProbe:
            httpGet:
              port: 8989
              path: /ping
            periodSeconds: 10
            initialDelaySeconds: 20
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              port: 8989
              path: /ping
            periodSeconds: 180
            initialDelaySeconds: 10
            timeoutSeconds: 5
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "800Mi"
          ports:
            - containerPort: 8989
              protocol: TCP
          volumeMounts:
            - mountPath: /config
              name: sonarr-config
            - name: media
              mountPath: /media
      volumes:
        - name: sonarr-config
          hostPath:
            path: /var/lib/sonarr
            type: DirectoryOrCreate
        - name: media
          hostPath:
            path: {{ .Values.global.rootPath }}
            type: Directory