apiVersion: v1
kind: ConfigMap
metadata:
  name: tailscale-config
  namespace: {{ .Values.namespace }}
data:
  serve.sh: |
     #!/bin/sh

     echo "Waiting for Tailscale healthz at localhost:9002..."
     until wget -q --spider http://localhost:9002/healthz; do
     sleep 1
     done

     echo "Tailscale is healthy. Running configuration script..."

     # qBittorrent
     tailscale serve \
     --service=svc:qbittorrent \
     --https=443 \
     http://qbittorrent.{{ .Values.namespace }}.svc.cluster.local:{{ .Values.qbittorrent.webUiPort }}

     # qBittorrent Public
     tailscale serve \
     --service=svc:qbittorrent-public \
     --https=443 \
     http://qbittorrent-public.{{ .Values.namespace }}.svc.cluster.local:13001

     # Prowlarr
     tailscale serve \
     --service=svc:prowlarr \
     --https=443 \
     http://prowlarr.{{ .Values.namespace }}.svc.cluster.local:9696

     # Sonarr
     tailscale serve \
     --service=svc:sonarr \
     --https=443 \
     http://sonarr.{{ .Values.namespace }}.svc.cluster.local:8989

     # Radarr
     tailscale serve \
     --service=svc:radarr \
     --https=443 \
     http://radarr.{{ .Values.namespace }}.svc.cluster.local:7878

     # Files (Samba)
     tailscale serve \
     --service=svc:files \
     --tcp=445 \
     tcp://samba.{{ .Values.namespace }}.svc.cluster.local:445

     # Files-share (Samba shared)
     tailscale serve \
     --service=svc:files-share \
     --tcp=445 \
     tcp://samba-shared.{{ .Values.namespace }}.svc.cluster.local:445

     tailscale serve \
     --service=svc:qui \
     --https=443 \
     http://qui.{{ .Values.namespace }}.svc.cluster.local:7476

