apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: {{ .Values.namespace }}
  labels:
    app: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      name: tailscale
      labels:
        app: tailscale
    spec:
      containers:
        - name: tailscale
          image: {{ .Values.tailscale.image }}
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale
                  key: AUTH_KEY
            - name: TS_KUBE_SECRET
              value: ""
            - name: TS_STATE_DIR
              value: /var/lib/tailscaled
          volumeMounts:
            - mountPath: /var/lib/tailscaled
              name: data
      restartPolicy: Always
      volumes:
        - name: data
          hostPath:
            path: /var/lib/tailscaled
            type: DirectoryOrCreate
      