apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: {{ .Values.namespace }}
  labels:
    app: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      name: tailscale
      labels:
        app: tailscale
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/tailscale/config.yaml") . | sha256sum }}
    spec:
      containers:
        - name: tailscale
          image: {{ .Values.tailscale.image }}
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale
                  key: AUTH_KEY
            - name: TS_KUBE_SECRET
              value: ""
            - name: TS_STATE_DIR
              value: /var/lib/tailscaled
            - name: TS_SERVE_CONFIG
              value: /config/serve.json
          volumeMounts:
            - mountPath: /var/lib/tailscaled
              name: data
            - mountPath: /config
              name: tailscale-config
      restartPolicy: Always
      volumes:
        - name: data
          hostPath:
            path: /var/lib/tailscaled
            type: DirectoryOrCreate

        - name: tailscale-config
          configMap:
            name: tailscale-config
            items:
              - key: serve.json
                path: serve.json