apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: {{ .Values.namespace }}
  labels:
    app: tailscale
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      name: tailscale
      labels:
        app: tailscale
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/tailscale/configmap.yaml") . | sha256sum }}
    spec:

      containers:
        - name: tailscale
          image: {{ .Values.tailscale.image }}
{{/*          lifecycle:*/}}
{{/*            postStart:*/}}
{{/*              exec:*/}}
{{/*                command: [ "/bin/sh", "-c", "/config/serve.sh" ]*/}}
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale
                  key: AUTH_KEY
            - name: TS_KUBE_SECRET
              value: ""
            - name: TS_STATE_DIR
              value: /var/lib/tailscale
            - name: TS_ENABLE_HEALTH_CHECK
              value: "true"
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
          startupProbe:
            httpGet:
              port: 9002
              path: /healthz
            initialDelaySeconds: 5
            failureThreshold: 6
            periodSeconds: 5
            timeoutSeconds: 60
          livenessProbe:
            httpGet:
              port: 9002
              path: /healthz
            periodSeconds: 720
            failureThreshold: 3
          volumeMounts:
            - mountPath: /var/lib/tailscale
              name: data
            - mountPath: /config
              name: tailscale-config
      restartPolicy: Always
      volumes:
        - name: data
          hostPath:
            path: /var/lib/tailscaled
            type: DirectoryOrCreate

        - name: tailscale-config
          configMap:
            name: tailscale-config
            defaultMode: 0777 # Ensure the script is executable
            items:
              - key: serve.sh
                path: serve.sh