version: '2.3'

volumes:
  portainer_data:

services:
  portainer:
    image: portainer/portainer-ce:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 8000:8000
      - 9443:9443

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - {{ prometheus.config }}:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090

  grafana_pdc:
    image: grafana/pdc-agent:latest
    command: -token {{ grafana.api_key }} -cluster prod-eu-west-2 -gcloud-hosted-grafana-id 781370
