# Default values for media-server
# This is a YAML-formatted file.

# Global configuration
namespace: media-server
# Infisical configuration for External Secrets
infisical:
  projectId: media-server
  environment: dev
global:
  libraryPath: invalid
  downloadsPath: invalid
  downloadsMount: /downloads
# Plex Media Server
plex:
  image: ghcr.io/home-operations/plex:1.42.2@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871 # {"$imagepolicy": "media-server:plex"}
  advertiseIp: invalid
qbittorrent:
  image: ghcr.io/linuxserver/qbittorrent:5.1.2-r3-ls424@sha256:029c00d12f493a15530f7ac6bb0dede12e490a8cf4357d2616f78e68dcab2fdd # {"$imagepolicy": "media-server:qbittorrent"}
  webUiPort: 13000
gluetun:
  image: qmcgaw/gluetun:v3.40.0@sha256:2b42bfa046757145a5155acece417b65b4443c8033fb88661a8e9dcf7fda5a00 # {"$imagepolicy": "media-server:gluetun"}
samba:
  image: ghcr.io/dockur/samba:4.21.9@sha256:b746e20a891f8b739c55a94846c264cc7a8d07297b31768c4137faddc99a3a6d # {"$imagepolicy": "media-server:samba"}
sonarr:
  image: ghcr.io/home-operations/sonarr:4.0.16@sha256:0a1b8f5cb5b072f7ad8c6ff64a25dc512115d1a114ecf19a58a3b4f870207ddd # {"$imagepolicy": "media-server:sonarr"}
tsd:
  image: docker.io/nodauf/tsdproxy:2.0.0@sha256:2c4fd77733de660b43c6c03e202a4244177f6a0ba3f298af04cfe2dc722e15c4 # {"$imagepolicy": "media-server:tsd"}
prowlarr:
  image: ghcr.io/home-operations/prowlarr:2.1.5@sha256:affb671fa367f4b7029d58f4b7d04e194e887ed6af1cf5a678f3c7aca5caf6ca # {"$imagepolicy": "media-server:prowlarr"}
radarr:
  image: ghcr.io/home-operations/radarr:5.27.3@sha256:1bf822eaf3d944dc994656c3a712a89df0d88f5f46731af4fccc90c5e0333167 # {"$imagepolicy": "media-server:radarr"}
byparr:
  image: ghcr.io/thephaseless/byparr:latest@sha256:ec84210e7b91549c89eaf883a7bc71f84b9d3ffef3c198cc001220e1dd4bc360 # {"$imagepolicy": "media-server:byparr"}
