# Default values for media-server
# This is a YAML-formatted file.

# Global configuration
namespace: media-server
# Infisical configuration for External Secrets
infisical:
  projectId: media-server
  environment: dev
global:
  libraryPath: invalid
  downloadsPath: invalid
  downloadsMount: /downloads
# Plex Media Server
plex:
  image: ghcr.io/home-operations/plex:1.43.0@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c # {"$imagepolicy": "media-server:plex"}
  advertiseIp: invalid
qbittorrent:
  image: ghcr.io/linuxserver/qbittorrent:5.1.4-r2-ls441@sha256:85eb27d2d09cd4cb748036a4c7f261321da516b6f88229176cf05a92ccd26815 # {"$imagepolicy": "media-server:qbittorrent"}
  webUiPort: 13000
qui:
  image: ghcr.io/autobrr/qui:v1.13.1@sha256:05b9badae10d21f54722464e8b51abc9487ba93f9bb2fff649fbc09944d0d111 # {"$imagepolicy": "media-server:qui"}
gluetun:
  image: qmcgaw/gluetun:v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab # {"$imagepolicy": "media-server:gluetun"}
samba:
  image: ghcr.io/dockur/samba:4.22.6@sha256:bf3959301fd5d1dcaf6cc0d8d2ae0801e7edcfe78f91130163ca08bff363f9fa # {"$imagepolicy": "media-server:samba"}
sonarr:
  image: ghcr.io/home-operations/sonarr:4.0.16@sha256:22651c750eedb091f6d76ade95dbecae0eeafe2b55432c3b8d8b042e8745f344 # {"$imagepolicy": "media-server:sonarr"}
tailscale:
  image: docker.io/tailscale/tailscale:v1.94.2@sha256:95e528798bebe75f39b10e74e7051cf51188ee615934f232ba7ad06a3390ffa1 # {"$imagepolicy": "media-server:tailscale"}
prowlarr:
  image: ghcr.io/home-operations/prowlarr:2.3.2@sha256:e2459e199564ab852c6e677e951cef36c172a8e71a0e1c90665631b5a0c57438 # {"$imagepolicy": "media-server:prowlarr"}
radarr:
  image: ghcr.io/home-operations/radarr:5.27.3@sha256:1bf822eaf3d944dc994656c3a712a89df0d88f5f46731af4fccc90c5e0333167 # {"$imagepolicy": "media-server:radarr"}
byparr:
  image: ghcr.io/thephaseless/byparr:latest@sha256:ec84210e7b91549c89eaf883a7bc71f84b9d3ffef3c198cc001220e1dd4bc360 # {"$imagepolicy": "media-server:byparr"}
