---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: samba
  namespace: {{ .Values.namespace }}
  labels:
    app: samba
spec:
  replicas: 1
  selector:
    matchLabels:
      app: samba
  template:
    metadata:
      labels:
        app: samba
    spec:
      containers:
        - name: samba
          image: {{ .Values.samba.image }}
          securityContext:
            privileged: true
          ports:
            - containerPort: 445
              name: smb
              protocol: TCP
          env:
            - name: USER
              value: admin
            - name: PASS
              valueFrom:
                secretKeyRef:
                  name: samba-credentials
                  key: ADMIN_PASSWORD
          volumeMounts:
            - name: downloads
              mountPath: /storage
              readOnly: true
          resources:
            limits:
              memory: "300Mi"
              cpu: "500m"
      volumes:
        - name: downloads
          hostPath:
            path: {{ .Values.global.downloadsPath }}
            type: Directory