{
  "samba-container-config": "v0",
  "configs": {
    "almachine": {
      "shares": [
        "data", "watched"
      ],
      "globals": [
        "default"
      ],
      "instance_name": "SAMBA"
    }
  },
  "shares": {
    "data": {
      "options": {
        "path": "/share/data",
        "valid users": "alma"
      }
    },
    "watched": {
      "options": {
        "path": "/share/watched",
        "read only": "no",
        "valid users": "alma"
      }
    }
  },
  "globals": {
    "default": {
      "options": {
        "security": "user",
        "server min protocol": "SMB2",
        "load printers": "no",
        "printing": "bsd",
        "printcap name": "/dev/null",
        "disable spoolss": "yes",
        "guest ok": "no"
      }
    }
  },
  "users": {
    "all_entries": [
      {
        "name": "alma",
        "password": "{{ private.samba_password }}"
      }
    ]
  },
  "_footer": 1
}