[Install]
WantedBy=default.target

[Container]
ContainerName=byparr
Image=ghcr.io/thephaseless/byparr:1.1.1
Environment=TZ=Etc/UTC
Environment=LANG=en_US
Environment=LOG_LEVEL=debug
PublishPort={{ byparr_port }}:8191
DNS=9.9.9.9
DNS=149.112.112.112
