[Install]
WantedBy=default.target

[Container]
ContainerName=byparr
Image=ghcr.io/thephaseless/byparr:1.1.1
Environment=TZ=Etc/UTC
Environment=LANG=en_US
Environment=LOG_LEVEL=debug
PublishPort={{ byparr_port }}:8191
DNS=208.67.222.222
DNS=208.67.222.220