[Install]
WantedBy=default.target

[Container]
ContainerName=flaresolverr
Image=ghcr.io/flaresolverr/flaresolverr:v3.3.19
Environment=TZ=Etc/UTC
Environment=LANG=en_US
Environment=LOG_LEVEL=debug
PublishPort={{ flaresolverr_port }}:8191
DNS=208.67.222.222
DNS=208.67.222.220