[Install]
WantedBy=default.target

[Container]
ContainerName=radarr
Image={{ radarr_image }}
Environment=TZ=Etc/UTC
Environment=RADARR__POSTGRES_HOST=192.168.1.82
Environment=RADARR__POSTGRES_MAIN_DB={{ radarr_db_main }}
Environment=RADARR__POSTGRES_LOG_DB={{ radarr_db_logs }}
Environment=RADARR__POSTGRES_PASSWORD={{ postgres_password }}
Environment=RADARR__POSTGRES_USER={{ postgres_user }}
PublishPort={{ radarr_port }}:{{ radarr_port }}
Volume={{ data_basepath }}:{{ data_basepath }}
Volume={{ radarr_config }}:/config
PodmanArgs=--userns=keep-id --user=1000

