[Install]
WantedBy=default.target

[Container]
ContainerName=sonarr
Image={{ sonarr_image }}
Environment=TZ=Etc/UTC
Environment=SONARR__POSTGRES_HOST=localhost
Environment=SONARR__POSTGRES_MAIN_DB={{ sonarr_db_main }}
Environment=SONARR__POSTGRES_LOG_DB={{ sonarr_db_logs }}
Environment=SONARR__POSTGRES_PASSWORD={{ postgres_password }}
Environment=SONARR__POSTGRES_USER={{ postgres_user }}
PublishPort={{ sonarr_port }}:8989
Volume={{ data_basepath }}:{{ data_basepath }}
Volume={{ sonarr_config }}:/config
PodmanArgs=--userns=keep-id --user=1000

