[[inputs.cpu]]
[[inputs.mem]]
[[inputs.net]]
interfaces = ["enp1s0"]

[[inputs.intel_powerstat]]
package_metrics = ["current_power_consumption"]
cpu_metrics = ["cpu_frequency", "cpu_temperature"]

[[inputs.system]]
[[inputs.diskio]]
[[inputs.disk]]
[[inputs.docker]]
endpoint = "unix:///var/run/podman.sock"

[[outputs.influxdb_v2]]
## The URLs of the InfluxDB cluster nodes.
##
## Multiple URLs can be specified for a single cluster, only ONE of the
## urls will be written to each interval.
## urls exp: http://127.0.0.1:8086
urls = ["http://localhost:{{ influx_port_host }}"]

## Token for authentication.
token = "{{ last_influx_data.token }}"

## Organization is the name of the organization you wish to write to; must exist.
organization = "{{ influx_org }}"

## Destination bucket to write into.
bucket = "{{ last_influx_data.bucket_id }}"